@use "./partials/variables";

@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #2e3a46;

    .ms_container {
        width: 60%;
        height: 400px;
        margin: 0 auto;
        //DEBUG
        border: 1px solid red;
    }
}